<h1>Restaurants#show</h1>
<p><%= link_to "<< Back to all restaurants", restaurants_path %></p>

<h2><%= @restaurant.name %></h2>
<p><%= link_to "Edit", edit_restaurant_path %> - <%= link_to "Delete", restaurant_path, method: 'delete' %></p>
<p><strong>Category:</strong> <%= @restaurant.category %></p>
<p><strong>Address:</strong> <%= @restaurant.address %></p>
<p><strong>Phone number:</strong> <%= @restaurant.phone_number %></p>

<h4>Reviews</h4>
<p><%= link_to 'Leave a review +', new_restaurant_review_path(@restaurant) %></p>
<hr>
<% @restaurant.reviews.each do |review|%>
<p><strong>rating:</strong> <%= review.rating %>/5 </p>
<p> <%= review.content %> </p>
<%end%>
